<% layout('./layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
             <!-- As the form only can be post or get request, use method-override to 'fake a PUT request' -->
            <form action="/campgrouds/<%=campgrouds._id%>?_method=PUT", method ="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-lable" for="title">Title</label>
                    <input class="form-control", id = "title", name ="campgroud[title]", value="<%=campgrouds.title %>" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>
                <div class="mb-3">
                    <label class="form-lable" for="location">Location</label>
                    <input class="form-control" type="text", id = "location", name ="campgroud[location]", value="<%=campgrouds.location %>" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>
                <!-- Uploading new campgrounds images -->
             <div class="mb-3">
                <label for="image" class="form-label">Add more images</label>
                <input class="form-control" type="file" name="image" id="image" multiple>
            </div>
               
                <div class="mb-3">
                    <label class="form-lable" for="price">Campground Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="number" class="form-control" placeholder="0.00", name ="campgroud[price]", aria-label="price" aria-describedby="price-label", value="<%=campgrouds.price %>" required>
                        <div class="valid-feedback">
                            Looks good!
                          </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-lable" for="textarea">Description</label>
                    <textarea class="form-control" type="text", id = "textarea", name ="campgroud[description]" required><%=campgrouds.description%></textarea>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>

                <div class="mb-3">
                    <% campgrouds.images.forEach(function(img,i){ %>
                    <img src="<%=img.url%>"  class="img-thumbnail" alt="">
                    <div class="form-check-inline">
                        <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                    </div>
                    <label for="image-<%=i%>">Delete image</label>
                    <% }) %>
                </div>

                <div class="mb-3">
                <button class="btn btn-info">Update Campground</button>
                </div>
            </form>
            <a href="/campgrouds/<%= campgrouds._id%>">Back to Campgrounds</a>
        </div>
    </div>
