<% layout('./layouts/boilerplate') %>
    <h1>All Campgrounds</h1>
    <div><a href="/campgrouds/new">Add a Campground</a></div>
    <% for (let campgroud of campgrouds) {%>
        <div class = "card mb-3" >
            <div class = "row">
                <div class ="col-md-4">
                    <img class="img-fluid" alt="" src="<%=campgroud.images[0].url%>">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><%= campgroud.title %></h5>
                        <p class="card-text"><%= campgroud.description%></p>
                        <p class="card-text">
                            <small class="text-muted"> <%=campgroud.location%> </small>
                        </p>
                        <a class="btn btn-primary" href="/campgrouds/<%= campgroud._id%>">View <%=campgroud.title%></a>
                    </div>
                </div>
            </div>

        </div>    
    <% } %>

