<% layout('./layouts/boilerplate') %>
    <h1><%= campgrouds.title %></h1>
    <h2><%= campgrouds.location %></h2>
    <img src="<%= campgrouds.image %>" alt="">
    <p><%= campgrouds.description %></p>
    <p>
    <form action="/campgrouds/<%=campgrouds._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
    </form>
    </p>
    <footer>
    <a href="/campgrouds">All Campgrounds</a> 
    <a href="/campgrouds/<%=campgrouds._id%>/edit">Edit</a> 

    </footer>
